#screen {
    width: 400px;
    height: 200px;
    font-size: 20px;
    background-color: gray;
    color: white;
    border-radius: 10px;

    /* 文字水平方向居中 */
    text-align: center;
    /* 让文字垂直方向居中，只有一行文本的时候，让line-height 和 height 一致 
       此处有两行文本，所以将文本的行高，设置成 100px*/
    line-height: 100px;
}

/* height和line-height一样高，就能让一行文字达到垂直居中的效果 */
#match-button {
    width: 400px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: orange;
    border: none;
    outline: none;
    border-radius: 10px;

    text-align: center;
    line-height: 50px;
    margin-top: 20px;

}

#match-button:active {
    background-color: gray;
}